body {
    background-color: rgb(238, 238, 183);
    font-family: arial;
    font-size: 25px;
    color: black;   
    text-align: justify;
}   

.photo{
    float:left; 
    text-align: center;
    width: 30%;     
}

header{
    float: left;
    text-align: center;
    width: 60%;
    padding: 85px;
}

.objetivo{
    float:right;
    width: 60%;    
    height: 300px;
    text-align: center;          
}

.habilidades{
    float:right;
    width: 60%;    
    height: 300px;
    text-align: center;          
}

.formacion-educativa{
    float:right;
    width: 60%;    
    text-align: center;          
}

.cursos{
    float:right;
    width: 60%;        
    text-align: center;      
}

.idioma{
    float:right;
    width: 60%;    
    height: 300px;
    text-align: center;          
}

aside{
    float: center;
    width: 30%;   
    text-align: center;    
}

.centrar-lista{
    text-align: center;
}

.centrar-lista ul{
	text-align: left;
	display: inline-block;    
}

.datos{
    text-align: left;
    text-indent: 40px;       
}

input, textarea, select, button{  
    width : 150px;  
    padding: 5px;  
    margin: 0;  
    box-sizing: border-box;    
    height: 30px;
}

p {
    color: rgb(3, 3, 3);
    line-height: 1.5;    
}

h1 {
    font-size: 2em;
    color: navy;
    background-color: rgb(248, 214, 19);
    margin: 10px;
    padding: 30px;
    text-align: center;
}

h2 {    
    font-size: 1.5em;
    color: navy;
    background-color: rgb(248, 214, 19);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
